<h1>Welcome</h1>
<div class="row">
<div class="panel-footer row"><!-- panel-footer -->
  <div class="col-xs-6 text-left">
    <div class="previous">
			<%= button_to "Login", '/login', method: :get%>
    </div>
  </div>
  <div class="col-xs-6 text-right">   
    <div class="next">
			<%= button_to "Sign Up", '/users/new', method: :get%>
     </div>
  </div>
</div>
</div>